@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0%;
  margin: 0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

canvas {
  width: 100%;
  height:  calc(100vh - 33px );
  z-index: -40;
}

.hover-trigger .hover-target {
  display: none;
}

.hover-trigger:hover  .hover-target {
  display: block;
}

.btn{
  @apply rounded
}

