@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1c1f2b;
    --foreground: #ffffff;

    --font-sans: 'system-ui';

    --muted: #5c5f6d;
    --muted-foreground: #ffffff;

    --popover: #1c1f2b;
    --popover-foreground: #ffffff;

    --card: #2a2f3d;
    --card-foreground: #ffffff;

    --border: #4d5061;

    --input: #2a2f3d;
    --input-selected: #00daff;

    --primary: #3d8bff;
    --primary-foreground: #ffffff;

    --secondary: #ffbe3d;
    --secondary-foreground: #000;

    --accent: #42d464;
    --accent-foreground: #ffffff;

    --destructive: #ff5757;
    --destructive-foreground: #ffffff;

    --radius: 0.15rem;
  }
  /* make scroll smaller */
  ::-webkit-scrollbar {
    width: 0.25rem;
    height: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--muted);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--muted);
  }
  /* Handle on click */
  ::-webkit-scrollbar-thumb:active {
    background: var(--muted);
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
.canvas {
  width: 100%;
  height: 100%;
}

.canvas-editor {
  width: 100%;
  height: 100%;
}
/* media query screen over 1024px */
@media (min-width: 1024px) {
  .canvas-editor {
    height: calc(100vh - 40px);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.slowFadeOut {
  animation: slowFadeOut 2s ease-in-out forwards;
}

@keyframes slowFadeOut {
  0% {
    scale: 1;
    opacity: 1;
    display: block;
  }
  100% {
    pointer-events: none;
    display: none;
    opacity: 0;
  }
}
